#root {
  min-height: 100dvh;
}

#root > * {
  max-width: 960px;
  margin-inline: auto;
  padding: 2rem;
  margin-block: 2rem;
}

.icon {
  width: 30px;
  height: 30px;
}

.file-container {
  text-align: center;
  padding: 2rem;
  transition-duration: 0.5s;
  border-radius: 30px;
}

.file-container:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 0.5s;
}

.file-container > p {
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 1.6rem;
}

.file-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2.4rem;
}

.submit-form {
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.checklist {
  display: grid;
  gap: 2.4rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.center {
  display: grid;
  place-items: center;
}

.selected {
}
